a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.success {
  color: green;
  border: solid, 2px, green;
  padding: 0.5rem;
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 1rem;
}

.error {
  color: red;
  border: solid, 2px, red;
  padding: 0.5rem;
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 1rem;
}

/* main */

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}

.user-logged-in {
  border: 1px green solid;
  padding: 0.75rem;
  border-radius: 5px;
  color: green;
}

/* blog */

.basic-blog-info {
  border: 1px solid #e3e2e2;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.author {
  margin-bottom: 1rem;
}

.likes-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

fa-solid,
.fas {
  color: #0472ad;
}

fa-solid,
.fas:hover {
  color: #02659a;
  cursor: pointer;
}
